<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Crash</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/about-me">About</a>
        <a href="/services">Services</a>
    </header>
    <article>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus beatae optio quae mollitia rerum
            maiores labore deserunt, sequi dicta perspiciatis ab molestiae quaerat tenetur deleniti quisquam possimus
            quo
            odit.</p>
    </article>
</body>

</html>
